@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&family=Lato&family=Open+Sans:ital,wght@0,400;0,700;1,300;1,400&family=Yeseva+One&display=swap");
/* VARIABLE */
:root {
    --header-color: #cc9900;
    --z-fixed: 100;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
}
.grid {
    display: grid;
}
.section {
    padding: 4rem 0;
}
h1,
h2,
h3,
h4,
h5 {
    color: var(--header-color);
    font-family: "Yeseva One", cursive;
}
img {
    width: 100%;
}
.divider {
    display: block;
    width: 235px;
    margin: auto;
}

/* HEADER */
.header {
    z-index: var(--z-fixed);
}
.custom__container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 2rem;
}
.nav__links {
    font-family: "Gentium Book Basic", serif;
    font-weight: 700;
    font-size: 21px;
}
.social__link {
    color: #dab33e;
    transition: all 0.4s;
}
.social__link:hover {
    color: #ebb30e;
}

/* SECTION HOME */
.home {
    margin-top: -118px;
}
.home__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    height: 650px;
}
.home__container {
    height: 650px;
}
.home__title {
    font-family: "Yeseva One", cursive;
    color: #ffffff;
    font-size: 91px;
    margin-top: 11rem;
    margin-bottom: 2rem;
}
.home__btn1 {
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.4s;
}
.home__btn1:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.home__btn2 {
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.4s;
}
.home__btn2:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
.home__btn {
    font-family: "Lato", sans-serif;
    grid-template-rows: auto auto;
    justify-content: center;
    column-gap: 3rem;
}

/* FOOD */
.food {
    background-image: url(../images//pattern.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.food__title {
    font-size: 36px;
}

.food__content-img {
    width: 220px;
}
.food__img {
    display: flex;
    align-items: center;
}
.food__img-dish {
    width: 540px;
    height: 540px;
}

/* INGREDIENTS */
.ingredients {
    background-image: url(../images/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    height: 710px;
}
.ingredients__content {
    position: absolute;
    width: 570px;
    height: 555px;
    margin-top: 0.8rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4rem;
    text-align: center;
}
.ingredients__desc {
    color: #fff;
}

/* PRICING */
.pricing {
    background-image: url(../images/backgroundPricing.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.pricing__item {
    margin-bottom: 1.5rem;
    padding: 5px;
}
.pricing__item-desc {
    color: #4c4c4c;
}
.pricing__items-h5 {
    border-bottom: 1px solid #ded1a4;
}
.pricing__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 9rem;
    row-gap: 2.5rem;
}
.special-item {
    border: 1px solid #ded1a4;
    position: relative;
}
.special-text {
    position: absolute;
    top: -25px;
    right: 0;
    color: #eee;
    padding: 0 10px;
    background-color: #d9c17a;
}

/* REVIEWS */
.reviews {
    background-image: url(../images/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.review__content {
    width: 694px;
    height: 452px;
    background-color: rgba(0, 0, 0, 0.7);
}
.review__title {
    color: #fff;
}
.review__desc,
.review__location {
    font-family: "Gentium Book Basic", serif;
    font-weight: 700;
    color: #eee;
}
.review__location {
    font-size: 12px;
}
/* CONTACT */
.contact__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
}
.contact__img-inside {
    width: 270px;
    height: 500px;
}
.contact__desc {
    color: #4c4c4c;
}
.form__data {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1.5rem;
}

.contact-btn {
    background-color: #c9a131;
    transition: all 0.4s;
}
.contact-btn:hover {
    background-color: #ddaf30;
}

/* FOOTER */
.footer {
    font-family: "Open Sans", sans-serif;
    background-color: #191919;
}
.openSansBold {
    font-weight: 700;
}
.footer__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 3rem;
}
.footer__desc {
    color: #ffffff;
}
.debitCard {
    width: 150px;
}
.footer__content {
    text-align: center;
}
.footer__desc {
    margin: 0;
}
.footer__link {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
}

/* ============= MEDEA QUERY ========== */
@media only screen and (max-width: 1224px) {
    .custom__container {
        max-width: 968px;
    }
    .ingredients {
        height: 600px;
    }
    .ingredients__content {
        width: 470px;
        height: 455px;
    }
    .pricing__container {
        column-gap: 5rem;
        row-gap: 2rem;
    }
    .review__content {
        width: 644px;
        height: 402px;
    }
    .review__desc {
        font-size: 20px !important;
    }
    .contact__container {
        row-gap: 4rem;
    }
    .contact__img-inside {
        width: 230px;
        height: 450px;
    }
}
@media only screen and (max-width: 1024px) {
    .home__title {
        font-size: 70px;
        word-wrap: break-word;
    }
    .food__img-dish {
        width: 440px;
        height: 440px;
    }
    .contact__container {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 2rem;
    }
    .contact__img-inside {
        width: 230px;
        height: 450px;
    }
}
@media only screen and (max-width: 992px) {
    .custom__container {
        max-width: 912px;
    }
    .header__nav {
        background-color: rgba(0, 0, 0, 0.3);
        padding-left: 1rem !important;
    }
    .home__title {
        font-size: 50px;
    }
    .ingredients__content {
        width: 370px;
        height: 355px;
        padding: 2rem;
    }
    .ingredients__title {
        font-size: 20px;
    }
    .ingredients__desc {
        font-size: 15px;
    }
    .divider {
        width: 180px;
    }
    .ingredients__img-inside {
        width: 73px;
    }
    .ingredients {
        height: 504px;
    }
    .review__content {
        width: 594px;
        height: 352px;
    }
}
@media only screen and (max-width: 768px) {
    .custom__container {
        max-width: 690px;
    }
    .food__container {
        flex-direction: column;
    }
    .food__img-dish {
        width: 340px;
        height: 340px;
    }
    .food__img {
        justify-content: center;
    }
    .food__content-img {
        width: 180px;
    }
    .ingredients__content {
        position: inherit;
        width: 270px;
        height: 390px;
        margin-top: 0;
    }
    .ingredients__title {
        font-size: 18px;
    }
    .ingredients__desc {
        font-size: 14px;
    }
    .ingredients__img-inside {
        width: 53px;
    }
    .pricing__container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2.5rem;
    }
    .review__content {
        width: 451px;
        height: 412px;
    }
    .review__desc {
        padding: 1rem 0;
    }
    .contact__img-inside {
        width: 170px;
        height: 330px;
    }
}
@media only screen and (min-width: 541px) {
    .home__btn {
        grid-template-columns: auto auto;
    }
}
@media only screen and (max-width: 540px) {
    .home__title {
        font-size: 30px;
    }
    .home__btn1 {
        margin-bottom: 1.5rem;
    }
    .review__content {
        width: 300px;
        height: 500px;
    }
    .review__title {
        font-size: 20px;
    }
    .review__desc {
        padding: 1rem 0;
        font-size: 16px;
    }
}
@media only screen and (max-width: 440px) {
    .custom__container {
        padding: 0 1rem;
    }
    .logo {
        width: 100px;
    }
    .food__img-dish {
        width: 240px;
        height: 240px;
    }
    .ingredients__img {
        gap: 0.5rem !important;
    }
    .ingredients__content {
        width: 215px;
        height: 358px;
        padding: 1rem;
    }
    .review__content {
        width: 215px;
        height: 410px;
        padding: 1rem !important;
    }
    .review__title {
        font-size: 20px;
    }
    .review__desc {
        padding: 0 !important;
        font-size: 15px !important;
    }
    .contact__img-inside {
        width: 95px;
        height: 170px;
    }
    .contact__title {
        font-size: 22px;
    }
    .contact__img {
        column-gap: 0.5rem !important;
    }
    .contact__container {
        row-gap: 2rem;
    }
    .form__data {
        grid-template-columns: repeat(1, 1fr);
    }
}
